* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 20px;
    margin-left: 20px;
    border: 0px solid;
    
}

.heading {
    border-left: 8px solid rgb(255, 72, 0);
    font-size: 40px;
}

img {
    position: relative;
    object-fit: cover;
    
}

.picture .img {
    position: absolute;
    font-size: 40px;
    bottom: -290px;
    width: 600px;
    left: 40px;
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.4);
}

.text {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 550;
    width: 650px;
    color: black;
    text-decoration-line: none;
}

.underline {
    border: 1px solid grey;
    margin-bottom: 30px;
    width: 650px;
}